<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    
    {% block title %}Create Report{% endblock %}
    <div class="container">
        {% block content %}
        <h1 class="mt-4">Create Report</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload .csv File</label>
                <input type="file" class="form-control" id="file" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Report</button>
        </form>
        {% endblock %}
    </div>
</body>
</html>