<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Home{% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">DistillConnect</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reports">View Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create">Create Report</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructions">Instructions</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        {% block content %}
        <div class="jumbotron mt-4">
            <h1 class="display-4">Welcome to DistillConnect!</h1>
            <p class="lead">A web application for generating actionable reports from Distill X5 files.</p>
            <hr class="my-4">
            <P>Use navigation to explore the app.</p>
        </div>
        {% endblock %}
    </div>
        
</body>
</html>
