<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    
    {% block title %}Instructions{% endblock %}
    <div class="container">
        {% block content %}
        <h1 class="mt-4">Instructions</h1>
        <ol>
            <li class="instructions-item">In Distill X5, go to the reports page and download the "INVENTORY" .csv file.</li>
            <li class="instructions-item">In DistillConnect (this site) upload the "INVENTORY.csv" file.</li>
            <li class="instructions-item">Click "Create Report"</li>
            <li class="instructions-item">Choose to save or print report.</li>
            <li class="instructions-item">All done!</li>
        </ol>
        {% endblock %}
    </div>
</body>
</html>